<div class="row" style="background-color:yellow;padding: 20px;">

    <div class="col-3">
        <a class="" routerLink="/">
            <img style="height: 60px; border-radius: 50px;;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU4PJ0eAbwKTuS4UlNN-PGG36DliumuY18hA&usqp=CAU"
                alt="">

        </a>
    </div>
    <div class="col-6">
        <h1 class="text-center"> KSEB CONSUMER MANAGEMENT</h1>

    </div>
    <div class="col-3"></div>

</div>






