<p class="ms-3">logindate:{{logindate | date:"short"}}</p>
<div class="head m-4">
    <h3 class="text-center text-success">CONSUMER MANAGEMENT SYSTEM</h3>
    <h5 class="text-primary">How it works:</h5>
    <p>The Kerala State Electricity Board Limited is the successor entity of Kerala State Electricity Board which was
        constituted by the Government of Kerala, as per order no. EL1-6475/56/PW dated 7-3-1957 of the Kerala State
        Government, under the Electricity (Supply) Act, 1948 for carrying out the business of Generation, Transmission
        and Distribution of electricity in the state of Kerala.

        As per section 172 (a) of the Electricity Act 2003 and as mutually decided by the Government of India and
        Government of Kerala, KSEB had continued as Transmission utility and Distribution licensee till 24-09-2008.
        In exercise of powers conferred under sub-sections (1), (2), (5), (6) and (7) of section 131 of the Electricity
        Act, 2003, State Government vide the notification G.O (Ms).37/2008/PD dated 25 September 2008 vested all
        functions, properties, interests, rights, obligations and liabilities of KSEB with the State Government till it
        is re-vested the same in a corporate entity.</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.kseb.in/images/slider/e-kiran1.jpg" style="height: 400px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/c9dBmW-wMdA/maxresdefault.jpg" class="d-block w-100" style="height: 400px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://live.staticflickr.com/65535/49860092852_6cba6ef0ba_c.jpg" style="height: 400px;" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<a routerLink="/consumer/new" style="float: right;" class="btn btn-primary me-5 mt-5 ">new consumer</a>

<div class="row mt-5">
    <div class="col-6">
        <input  (change)="search($event)" type="text" name="" class="form-control ms-5" id="" placeholder="search your consumer name">
        <button class="btn btn-success ms-5 mt-3">search</button>
    </div>
</div>

<!-- <pre>
    {{allconsumer | json}}
</pre> -->

<!-- ...........cards.......... -->
<div class="container m-5">
    <div class="row" >
        <div class="col-md-6" *ngFor="let i of allconsumer | filter:searchkey:'name'">
            <div class="card  border border-1 border-dark m-3  " style="border-radius: 20px;background-color: #e01b421a; box-shadow: 2px 2px 5px black;" >
              <!-- <div class="card  border border-1 border-dark m-3" style="border-radius: 20px;background-color: #cf7f7f6d;" > -->

                <div class="row ">
                    <div class="col-4 py-3 p-4 ">
                        <img style="height: 150px; width: 150px;border-radius: 20px;"
                            [src]="i.photo"
                            alt="">
                    </div>
                    <div class="col-8 py-3 p-4">
                        <ul class="list-group">
                            <li class="list-group-item">Name:{{i.name}}
                                <a routerLink="/consumer/view/{{i.id}}" style="float: right;"><i
                                        class="fa-solid fa-users-viewfinder text-success"></i></a>
                            </li>
                            <li class="list-group-item" >Cunsumer id:{{i.id}}
                                <a routerLink="/consumer/update/{{i.id}}" style="float: right;"><i class="fa-solid fa-file-pen"></i></a>
                            </li>
                            <li class="list-group-item" >Phone:{{i.phone}}
                                <button (click)="deletecontact(i.id)" class="btn btn-outline" style="float: right;"><i class="fa-sharp fa-solid fa-trash"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>


<footer class="text-center text-dark" style="background-color: yellow;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-danger m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="danger"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-primary m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-success m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-danger m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://KSEB.com/">KSEB.com</a>
    </div>
    <!-- Copyright -->
  </footer>